<%= provide(:title, "Home")%>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <%= render 'shared/user_info'%>
    </div>
    <div class = "col-md-8 col-sm-12 feed-box">
      <%= render 'shared/feed'%>
    </div>
  </div>
  <div class="modal fade" id="micropost-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% else %>
  <div class="center">
    <div class="top-imgarea">
      <%= image_tag "top bw.jpg", class: "top-img" %>
      <h1>Welcome to ARCHigram</h1>
      <h2>
      あなたの訪れた建築をみんなに教えてあげよう。
      </h2>
    </div>
    <div class="signup-box">
      <p><%= link_to"Facebookでログイン", omniauth_authorize_path(resource_name, provider), class:"btn" %></p>
      <p>または</p>
      <p><%= link_to "新規登録", sign_up_path, class:"btn" %></p>
    </div>
    <div class="signin-box">
      <p><%= link_to "ログインする", login_path, class:"btn" %></p>
    </div>
  </div>
<% end %>