<% provide(:title, @title)%>
<div class="user_info row">
    <div class="col-md-4">
    <%= image_tag @user.image.thumb.to_s %>
    </div>
    <div class="col-md-8">
      <%= @user.user_name %>
      <%if current_user?(@user)%>
        <%= link_to "プロフィール編集",  edit_user_registration_path, class:"btn" %>
      <% else %>
        <%= render 'follow_form'%>
      <% end %>
      <div class="countbox">
        <%= render 'shared/stats'%>
      </div>
    </div>
</div>
<% if @users.any? %>
  <div class="users_box row">
    <div class="col-md-4 user_avatars">
      
    </div>
    <div class="col-md-8">
      <%= @title %>
      <ul class="users_follow">
        <%= render @users%>
      </ul>
      <%= will_paginate %>
    </div>
  </div>
<% else %>
  ユーザーはいません
<% end %>
