<% @user ||= current_user %>
<div class="stats">
  <span>
    投稿</br>
    <%= @user.microposts.count %>
  </span>
  <span>
    フォロー</br>
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count%>
      </strong>
    </a>
  </span>
  <span>
    フォロワー</br>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count%>
      </strong>
    </a>
  </span>
</div>