 <div class="userinfo-box position-fixed visible-lg">
  <div class="row">
    <div class="userinfo-img">
     <%= image_tag current_user.image.thumb.to_s %>
    </div>
    <div class="userinfo-text">
      <p class="userinfo-name"><%= current_user.user_name %></p>
      <p><%= current_user.name %></p>
    </div>
  </div>
  <div class="countbox row">
      <%= render 'shared/stats'%>
  </div>
  <div class="user-datails row">
    <p><%= @user.url %></p>
    <p><%= @user.profile %></p>
  </div>
 </div>

<div class="userinfo-box hidden-lg">
</div>
