<% unless current_page?(root_path)%>
  <li id="micropost-<%= micropost.id %>" class= "col-md-4 col-sm-6 col-xs-12">
    <div class="eachpostbox whitebox">
      <div class="post">
        <%= link_to micropost, remote: true do  %>
          <%= image_tag micropost.picture.thumb300.to_s, class: "img-responsive" %>
        <% end %>
        <p><%= micropost.content %></p>
      </div>
      <div class="eachpost-content">
        <div class="eachpost-content-left">
          <span class="liked-icon">
            <%= render "likes/like_form", micropost: micropost %>
          </span>
          <span class="liked-count">
            <%= micropost.likes.count %>
          </span>
          <span class="comment-icon">
            <i class="far fa-comment-dots"></i>
          </span>
          <span class="comment-count">
            <%= micropost.comments.count %>
          </span>
        </div>
        <div class="eachpost-content-right">
          <% if current_user?(micropost.owner) %>
            <span class="delete-icon">
              <%= link_to micropost, method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </span>
          <% end %>
          <span class="post-time">
            <%= time_ago_in_words(micropost.created_at) %> ago.
          </span>
        </div>
      </div>
    </div>
  </li>
<% else %>
  <li id="micropost-<%= micropost.id %>" class= "col-md-12">
    <div class="top-eachpostbox whitebox">
      <div class="eachpost-user">
        <%= link_to micropost.owner do  %>
          <span class="user-img"><%= image_tag micropost.owner.image.thumb30.to_s, class: "img-responsive" %></span>
          <span class="user-username"><%= micropost.owner.user_name %></span>
        <% end %>
      </div>
      <div class="post">
        <%= link_to micropost, remote: true do  %>
          <%= image_tag micropost.picture.to_s, class: "img-responsive" %>
        <% end %>
        <p><%= micropost.content %></p>
      </div>
      <div class="eachpost-content">
        <div class="eachpost-content-left">
          <%= render "likes/like_form", micropost: micropost %>
          <span id="liked-count">
            <%= micropost.likes.count %>
          </span>
          <span class="comment-icon">
            <i class="far fa-comment-dots"></i>
          </span>
          <span class="comment-count">
            <%= micropost.comments.count %>
          </span>
        </div>
        <div class="eachpost-content-right">
          <% if current_user?(micropost.owner) %>
            <span class="delete-icon">
              <%= link_to micropost, method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </span>
          <% end %>
          <span class="post-time">
            <%= time_ago_in_words(micropost.created_at) %> ago.
          </span>
        </div>
      </div>
    </div>
  </li>
<% end %>