<header class="navbar navbar-expand-sm navbar-fixed-top navbar-light">
  <div class="container">
    <%= link_to "ARCHigram", root_path, id: "logo" %>
    <%= render "shared/search_form" %>
    <nav>
      <ul class="header-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to users_path do%>
            <i class="fas fa-users"></i>
            <% end %>
          </li>
          <li>
            <%= link_to notifications_path do%>
              <i class="fas fa-bell"></i>
            <% end %>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle notification-circle"></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user) do%>
            <i class="fas fa-user"></i>
            <% end %>
          </li>
          <li><%= link_to"Log out", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>