<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to"Instagram", root_path, id: "logo"%>
    <%= render "shared/search_form" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to"Users", users_path %></li>
          <li><%= link_to"My_page", current_user %></li>
          <li>
            <%= link_to"通知ページ", notifications_path%>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle notification-circle"></i>
            <% end %>
          </li>
          <li><%= link_to"Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to"Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>